@font-face {
    font-family: 'Eras ITC';
    src: url("https://github.com/jasontheone111/ChinosModded.github.io/raw/main/assets/fonts/ErasBoldITC.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
